
.home{
    
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 3rem;
    color: #e8ddcb;
    text-align: center;
}

.h1{
    font-size: 2.3rem;
    margin-bottom: 10px;
}
.username{
    color: #FCBC03 ;
}
.texto{
    font-size: 0.9rem;
}
.login{
    font-size: 0.9rem;
    color: #FCBC03;
}
